@page "/news-detalhes/{idNews:int}"
@using WasmBlazorTemplate.Models
@inject HttpClient Http

@if (news is null)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" />
}
else
{
    <MudContainer MaxWidth="MaxWidth.Medium" Class="text-white pt-10 pb-20">
        <MudText Typo="Typo.h3" Class="ft-padrao f-s-g mb-5">@news.Titulo</MudText>
        <MudText Typo="Typo.caption" Class="mb-8">@news.Data</MudText>

        @foreach (var bloco in news.Blocos)
        {
            @switch (bloco.Tipo)
            {
                case "text":
                    <MudText Typo="Typo.body1" Class="mb-5">@bloco.Conteudo</MudText>
                    break;
                case "subtitle":
                    <MudText Typo="Typo.h5" Class="f-s-g mt-8 mb-3">@bloco.Conteudo</MudText>
                    break;
                case "image":
                    <div class="mb-6 d-flex justify-center">
                        <MudImage Src="@bloco.Src" Alt="@bloco.Alt" Fluid Width="100" MaxWidth="800px" />
                    </div>
                    break;
            }
        }
    </MudContainer>
}

@code {
    [Parameter] public int idNews { get; set; }
    private NewsItem? news;

    protected override async Task OnInitializedAsync()
    {
        var allNews = await Http.GetFromJsonAsync<List<NewsItem>>("data/newsindex.json");
        news = allNews?.FirstOrDefault(n => n.Id == idNews);
    }
}
