@inject NavigationManager Navigation

@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudAppBar Elevation="0" Class="@GetNavbarClass()">
        <MudContainer MaxWidth="MaxWidth.Large">
            <div class="d-flex justify-space-between align-center">
                @if (isBlurNavbar)
                {
                    <MudImage Src="assets/logo-colorido.png" Width="150" Fluid ObjectPosition="ObjectPosition.Center" />
                }
                else
                {
                    <MudImage Src="assets/logo-colorido-v2.png" Width="150" Fluid ObjectPosition="ObjectPosition.Center" />
                }
                <NavMenuLinks />
                <MudButton Variant="Variant.Filled"
                           Color="Color.Success"
                           DropShadow="false"
                           Size="Size.Small"
                           Href="/entre-contato"
                           Class="text-uppercase bg-btn w-700">
                    Entre em Contato
                </MudButton>
            </div>
        </MudContainer>
    </MudAppBar>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudAppBar Elevation="0" Class="@GetNavbarClass()">
            <MudImage Src="assets/logo-colorido.png" Width="100" Fluid ObjectPosition="ObjectPosition.Center" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Menu"
                           Color="Color.Inherit"
                           Edge="Edge.End"
                           OnClick="@ToggleDrawer" />
        @* <MudContainer MaxWidth="MaxWidth.Large">
        </MudContainer> *@
    </MudAppBar>
    <MudDrawer @bind-Open="@_open" Elevation="1">
        <MudDrawerHeader>
            <MudImage Src="assets/logo-colorido.png" Fluid ObjectPosition="ObjectPosition.Center" />
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" href="#">Home</MudNavLink>
            <MudNavLink href="quem-somos">Quem somos</MudNavLink>
            <MudNavLink href="compliance">Compliance</MudNavLink>
            <MudNavLink href="servicos">Serviços</MudNavLink>
            <MudNavLink href="entre-contato">Entre em Contato</MudNavLink>
            @* <MudNavLink href="news">News</MudNavLink> *@
        </MudNavMenu>
    </MudDrawer>
</MudHidden>

@code {
    private bool _open = false;
    private bool isBlurNavbar;
    private string navbarStyle = "navbar-white";


    private void ToggleDrawer()
    {
        _open = !_open;
    }

    protected override void OnInitialized()
    {
        SetNavbarType();
        Navigation.LocationChanged += (_, __) => SetNavbarType();
    }

    private void SetNavbarType()
    {
        var uri = Navigation.Uri.ToLower();

        // Exemplo: aplica navbar com blur apenas na Home
        if (uri.EndsWith("quem-somos") || uri.Contains("compliance") || uri.Contains("entre-contato"))
            isBlurNavbar = false;
        else
            isBlurNavbar = true;

        StateHasChanged(); // força atualização visual
    }

    private string GetNavbarClass()
    {
        return isBlurNavbar ? "navbar-blur" : "navbar-white";
    }
}

<style>
    .nav-bar {
        /* background: url("assets/bg-hero.jpg") center center / cover no-repeat;
            background-position: 25% 18%; */
        background: linear-gradient(85.18deg, #1B804D -3.87%, #89BB48 118.16%) !important;
    }

    .navbar-blur {
        background: linear-gradient(180deg, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.2) 100%);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-top: 3px solid #7ed957; /* verde da identidade visual */
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
    }

    .navbar-white {
        background-color: white;
        color: black;
        border-top: 3px solid #7ed957; /* verde da identidade visual */
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        /* transition: background-color 0.3s ease; */
    }
</style>