<MudContainer MaxWidth="MaxWidth.Large">
    <MudDivider />
</MudContainer>

@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper5 d-flex align-center justify-center flex-column">
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudText Typo="Typo.h3"
                     Class="ft-padrao text-center fs-titulo-2 pb-9">
                Nossos clientes <strong class="f-s-g">confiam <br />em nossas soluções</strong><br />
            </MudText>
        </MudContainer>

        <div class="logo-slider pb-9">
            <div class="logo-track">
                @foreach (var logo in Logos)
                {
                    <div class="logo-card">
                        <MudPaper Elevation="25"
                                  Class="p-4 rounded-lg shadow-md d-flex justify-center align-center"
                                  style="width: 200px !important; height: 180px !important;">
                            <img src="@logo" class="h-12 object-contain" />
                        </MudPaper>
                    </div>
                }

                @* Repete para dar efeito de loop *@
                @foreach (var logo in Logos)
                {
                    <div class="logo-card">
                        <MudPaper Elevation="25"
                                  Class="p-4 rounded-lg shadow-md d-flex justify-center align-center"
                                  style="width: 200px !important; height: 180px !important;">
                            <img src="@logo" class="h-12 object-contain" />
                        </MudPaper>
                    </div>
                }
            </div>
        </div>

        <MudButton Class="bg-btn ft-padrao text-center w-700"
                   Variant="Variant.Filled"
                   Href="/entre-contato"
                   Color="Color.Success"
                   Size="Size.Medium"
                   EndIcon="@Icons.Material.Filled.ArrowOutward">
            Seja um parceiro
        </MudButton>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper5-m d-flex align-center justify-center flex-column">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Typo="Typo.h3"
                     Class="ft-padrao text-center fs-titulo-m pb-9">
                Nossos clientes <strong class="f-s-g">confiam <br />em nossas soluções</strong><br />
            </MudText>
        </MudContainer>

        <div class="logo-slider pb-9">
            <div class="logo-track">
                @foreach (var logo in Logos)
                {
                    <div class="logo-card">
                        <MudPaper Elevation="25"
                                  Class="p-4 rounded-lg shadow-md d-flex justify-center align-center"
                                  style="width: 68px !important; height: 61px !important;">
                            <MudImage src="@logo" Width="50" Height="50" Fluid ObjectPosition="ObjectPosition.Center" ObjectFit="ObjectFit.Cover" />
                        </MudPaper>
                    </div>
                }

                @* Repete para dar efeito de loop *@
                @foreach (var logo in Logos)
                {
                    <div class="logo-card">
                        <MudPaper Elevation="25"
                                  Class="p-4 rounded-lg shadow-md d-flex justify-center align-center"
                                  style="width: 68px !important; height: 61px !important;">
                            <MudImage src="@logo" Width="50" Height="50" Fluid ObjectPosition="ObjectPosition.Center" ObjectFit="ObjectFit.Cover" />
                        </MudPaper>
                    </div>
                }
            </div>
        </div>

        <MudButton Class="bg-btn ft-padrao text-center w-700"
                   Variant="Variant.Filled"
                   Color="Color.Success"
                   Href="/entre-contato"
                   Size="Size.Medium"
                   EndIcon="@Icons.Material.Filled.ArrowOutward">
            Seja um parceiro
        </MudButton>
    </div>
</MudHidden>

<style>
    .wrapper5 {
        height: 90vh;
        padding: 30px 0;
    }

    .wrapper5-m {
        height: 100%;
        padding: 30px 0;
    }
</style>

@code {
    List<string> Logos = new()
    {
        "assets/logo-Cargill.png",
        "assets/logo-FerreroRocher.png",
        "assets/logo-Heineken.png",
        "assets/logo-Makro.png",
        "assets/logo-MasterMartini.png",
        "assets/logo-NEstle.png",
        "assets/logo-Únigra.png",
        "assets/logo-SantaHelena.png",
    };
}