@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="bg-footer d-flex align-center">
        <MudContainer MaxWidth="MaxWidth.Large" Class="h-full flex items-center">

            <div class="d-flex justify-space-between align-center">
                <MudImage Src="assets/logo-branco.svg" Width="200" Height="37" ObjectPosition="ObjectPosition.Center" />

                <MudText Class="fs-subt-m c-w">
                    <strong class="footer-bg">© Copyright @currentYear </strong> | Todos os direitos reservados
                </MudText>

                <div class="d-flex justify-space-between align-center">
                    <MudText Class="fs-subt-m c-w">
                        <strong class="footer-bg">Siga Nossas Redes:</strong>
                    </MudText>
                    <div Class="c-w">
                        <MudIconButton Icon="@Icons.Custom.Brands.Instagram"
                                       Color="Color.Inherit"
                                       Target="_blank"
                                       Href="https://www.instagram.com/bellavista.ambiental/"
                                       Size="Size.Small"
                                       Class="" />

                        <MudIconButton Icon="@Icons.Custom.Brands.Facebook"
                                       Color="Color.Inherit"
                                       Target="_blank"
                                       Href="https://www.facebook.com/bellavista.ambiental/"
                                       Size="Size.Small"
                                       Class="" />

                        <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn"
                                       Color="Color.Inherit"
                                       Target="_blank"
                                       Href="https://www.linkedin.com/company/bella-vista-ambiental/"
                                       Size="Size.Small"
                                       Class="" />
                    </div>
                </div>
            </div>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="bg-footer wrapper-f-m d-flex align-center">
        <MudContainer MaxWidth="MaxWidth.Large" Class="h-full flex items-center">

            <div class="d-flex justify-center align-center flex-wrap gap-5">
                <MudImage Src="assets/logo-branco.svg"
                          Width="130"
                          Height="30"
                          ObjectPosition="ObjectPosition.Center" />

                <MudText Class="fs-subt-m c-w">
                    <strong class="footer-bg">© Copyright @currentYear </strong> | Todos os direitos reservados
                </MudText>

                <MudText Class="fs-subt-m c-w">
                    <strong class="footer-bg">Siga Nossas Redes:</strong>
                </MudText>

                <div Class="c-w">
                    <MudIconButton Icon="@Icons.Custom.Brands.Instagram"
                                   Color="Color.Inherit"
                                   Target="_blank"
                                   Href="https://www.instagram.com/bellavista.ambiental/"
                                   Size="Size.Small"
                                   Class="" />

                    <MudIconButton Icon="@Icons.Custom.Brands.Facebook"
                                   Color="Color.Inherit"
                                   Target="_blank"
                                   Href="https://www.facebook.com/bellavista.ambiental/"
                                   Size="Size.Small"
                                   Class="" />

                    <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn"
                                   Color="Color.Inherit"
                                   Target="_blank"
                                   Href="https://www.linkedin.com/company/bella-vista-ambiental/"
                                   Size="Size.Small"
                                   Class="" />
                </div>
            </div>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper-f {
        height: 74.7vh;
    }

    .wrapper-f-m {
        height: 100%;
        padding: 30px 0
    }
</style>


@code {
    private int currentYear = DateTime.Now.Year;
}